<main class="contenedor panel-administracion">
	<h1><%= nombrePagina%></h1>
	<div class="contenedor-botones">
		<a href="/nuevo-grupo" title="" class="btn btn-amarillo">Nuevo Grupo</a>
		<a href="/nuevo-meeti" title="" class="btn btn-azul">Nuevo Meeti</a>
		<a href="/editar-perfil" title="" class="btn btn-rosa">Editar Perfil</a>
		<a href="/editar-password" title="" class="btn btn-rojo">Editar Password</a>
		<a href="/imagen-perfil" title="" class="btn btn-verde">Imagen Perfil</a>
	</div>
	<div class="seccion-admin">
		<h2>Próximos Meeti's</h2>
		<%if(meetis.length) {%>
			<%meetis.forEach(meet => {%>
			 <% moment.locale('es'); //mostrar en español la fecha%>
			 <%const fecha = meet.fecha +' '+meet.hora; %>
				<ul>
				    <li>
				    	<div class="informacion-admin">
				    		<p class="fecha"><%= moment(fecha).format('LLLL');%> Horas</p>
				    		<a href="/meeti/<%= meet.id%>" target="_blank">
				    			<h3><%= meet.titulo%></h3>
				    		</a>
				    		<small><%= meet.interesados.length%> Interesados</small>
				    	</div>
				    	<div class="acciones contenedor-botones">
				    		<a href="/editar-meeti/<%= meet.id%>" class="btn btn-verde">Editar</a>
				    		<a href="/meeti/asistentes/<%= meet.id%>" class="btn btn-azul2">Asistentes</a>
				    		<a href="/eliminar-meeti/<%= meet.id%>" class="btn btn-rojo">Eliminar</a>
				    	</div>
				    </li>
				</ul>
			<%})%>
		<%}else {%>
			<p>No hay meeti's</p>
		<%}%>
	</div>
	<div class="seccion-admin">
		<%if(grupos.length) {%>
			<h2>Tus Grupos</h2>
			<ul>

			  <% grupos.forEach(grupo => { %>
				    <li>
				    	<div class="informacion-admin">

				    		<h3><%= grupo.nombre %></h3>
				    		
				    	</div>
				    	<div class="acciones contenedor-botones">
				    		<a href="/editar-grupo/<%= grupo.id %>" class="btn btn-verde">Editar</a>
				    		<a href="/imagen-grupo/<%= grupo.id %>" class="btn btn-azul2">Imagen</a>
				    		<a href="/eliminar-grupo/<%= grupo.id %>" class="btn btn-rojo">Eliminar</a>
				    	</div>
				    </li>
			   <% }); %>
			</ul>
		<%} else {%>
			<p>No hay grupos</p>
		<%}%>
	</div>
	<div class="seccion-admin">
		<h2>Anteriores Meeti's</h2>
		<%if(anteriores.length) {%>
			<%anteriores.forEach(meet => {%>
			 <% moment.locale('es'); //mostrar en español la fecha%>
			 <%const fecha = meet.fecha +' '+meet.hora; %>
				<ul>
				    <li>
				    	<div class="informacion-admin">
				    		<p class="fecha"><%= moment(fecha).format('LLLL');%> Horas</p>
				    		<a href="/meeti/<%= meet.id%>" target="_blank">
				    			<h3><%= meet.titulo%></h3>
				    		</a>
				    		<small><%= meet.interesados.length%> Interesados</small>
				    	</div>
				    	<div class="acciones contenedor-botones">
				    		<a href="/editar-meeti/<%= meet.id%>" class="btn btn-verde">Editar</a>
				    		<a href="/meeti/asistentes/<%= meet.id%>" class="btn btn-azul2">Asistentes</a>
				    		<a href="/eliminar-meeti/<%= meet.id%>" class="btn btn-rojo">Eliminar</a>
				    	</div>
				    </li>
				</ul>
			<%})%>
		<%}else {%>
			<p>No hay meeti's anteriores</p>
		<%}%>
	</div>
</main>